cypress/screenshots/testes/cpf/consultaCpf.js/Testes QA -- C01 - Consulta CPF válido (failed).png
cypress/screenshots/testes/cpf/consultaCpf.js/Testes QA -- C02 - Consulta CPF invalido (failed).png
cypress/screenshots/testes/cpf/consultaCpf.js/Testes QA -- C03 - Consulta sem informar nada no campo CPF -- before each hook (failed).png
cypress/videos/testes/cpf/consultaCpf.js.mp4
cypress/videos/testes/cpf/consultaCpf.js.mp4.meta
cypress/videos/testes/cpf/consultaCpf.js-compressed.mp4
cypress/screenshots/frontEnd/login/login.js/Testes de Login -- 01-Tenta acessar conta do gmail (failed).png
cypress/screenshots/frontEnd/login/login.js/Testes de Login -- 02-Tenta acessar sem informar conta do gmail (failed).png
cypress/videos/backEnd/barrigarest.js.mp4
cypress/videos/frontEnd/cpf/consultaCpf.js.mp4
cypress/videos/frontEnd/login/login.js.mp4
cypress/videos/frontEnd/maps/maps.js.mp4
